@model MTERoads.ViewModels.RoadViewModel
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
@{
    ViewBag.Title = "Roads";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid grid = new WebGrid(source: Model.Roads, canPage: true, rowsPerPage: 5);
}

<div class="container">
    @using (Html.BeginForm("Create", "Roads", FormMethod.Post))
    {
        <fieldset id="inputs">
            <div class="well">
                <div class="row">
                    <div class="col-md-3 form-group">
                        @Html.TextBoxFor(m => m.BIA_No, new { @class = "form-control", @placeholder = "RoadCode" })
                    </div>
                    <div class="col-md-4 form-group">
                        @Html.TextBoxFor(m => m.Road_Name, new { @class = "form-control", @placeholder = "Road Decription" })
                    </div>
                    <div class="col-md-2 form-group">
                        <button class="btn btn-primary" type="submit">Add new Road</button>
                    </div>
                </div><!--First row end-->
                <div class="row">
                    <div class="col-md-3 form-group">
                        @Html.TextBoxFor(m => m.Miles, new { @class = "form-control", @placeholder = "Road miles" })
                    </div>
                    <div class="col-md-4 form-group">
                        <div class="dropdown">
                            @Html.DropDownListFor(Model => Model.Type_Id, new SelectList(ViewBag.DropdownResult, "Type_Id", "Type_Desc"), "--Select Road Type--", new { @class = "form-control" })
                        </div>
                    </div>
                </div><!--Second row end-->
            </div><!--Well part end-->
        </fieldset>
    }
    <!--form part end-->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-sea margin-bottom-40">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-edit"></i></h3>
                </div>
                @grid.GetHtml(
                    htmlAttributes: new
                    {
                        @class = "table table-bordered table-striped table-condensed"
                    },
                    mode: WebGridPagerModes.All,
                    columns:
                    grid.Columns(
                        grid.Column(columnName: "BIA_No", header: "Road code"),
                        grid.Column(columnName: "Road_Name", header: "Road Name"),
                        grid.Column(columnName: "tblType.Type_Desc", header: "Road Type"),
                        grid.Column(columnName: "Miles", header: "Miles"),
                        grid.Column(header: "Edit", format: @<button class="btn btn-info btn-xs edituser" id="editid">edit</button>)
                    )
                )
            </div>
        </div>
    </div><!--WebGrid end-->

    <!--Model part-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#aa7f55">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Edit</h4>
                </div>
                <div class="modal-body">
                        @*<form action="#" class="form-horizontal row" method="post">*@
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-5 form-group">
                                    <label class="col-sm-10 control-label">Road Code:</label>
                                </div>
                                <div class="col-md-7 form-group">
                                    <input id="txtnum" name="BIA_No" readonly /><br />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 form-group">
                                    <label class="col-sm-10 control-label">Road Name:</label>
                                </div>
                                <div class="col-md-7 form-group">
                                    <input id="txtname" name="Road_Name" /><br />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 form-group">
                                    <label class="col-sm-10 control-label">Miles:</label>
                                </div>
                                <div class="col-md-7 form-group">
                                    <input id="txtmiles" name="Miles" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 form-group">
                                    <label class="col-sm-10 control-label">Type:</label>
                                </div>
                                <div class="col-md-7 form-group">
                                    @Html.DropDownList("Result", "Please select")
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4 pull-right">
                            <button id="summit_btn1" type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    @*}*@
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div><!--Model end-->

        <script>
            $(document).ready(function () {
                $("#summit_btn1").on('click', function () {
                    var id_ = $("#txtnum").val();
                    var name_ = $("#txtname").val();
                    var m = $("#txtmiles").val()
                    var roadModel = {
                        "BIA_No": id_, "Road_Name": name_, "Miles": m,
                        "Type_Id": document.getElementById("Result").value
                    };
                    $.ajax({
                        url: '/Roads/update',
                        data: roadModel,
                        type: 'POST',
                        success: function () {
                            window.location = '/Roads/Index';

                            $('#myModal').on('hidden.bs.modal', function () {
                                location.reload();
                            })
                            //alert('Record updated Successfully!!');
                        },
                        error: function (result) {
                            alert(result.statusText);
                        }
                    });
                });

                $(".edituser").on('click', function () {
                    var tr = $(this).parents('tr:first');
                    var row = tr.find('td');
                    var id = row.eq(0).text();
                    var name = row.eq(1).text();
                    var desc = row.eq(2).text();
                    var miles = row.eq(3).text();

                    $('#Result option').map(function () {
                        if ($(this).text() == desc) return this;
                    }).attr('selected', 'selected');
                    $("#txtnum").val(id);
                    $("#txtname").val(name);
                    $("#txtmiles").val(miles);

                    var roadModel = { "BIA_No": id, "Road_Name": name, "Miles": miles, "Type_Id": document.getElementById("Result").value }
                    $("#myModal").modal('show');
                });
            })
        </script>
    </div>
</div>

